
  @include font-face('icomoon', 'fonts/icomoon/icomoon', $ver: '?edgdpa');
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    // speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-bulb:before {
    content: "\e900";
  }
  .icon-chair:before {
    content: "\e901";
  }
  .icon-cupcake:before {
    content: "\e902";
  }
  .icon-face:before {
    content: "\e903";
  }
  .icon-insta1:before {
    content: "\e904";
  }
  .icon-mail:before {
    content: "\e905";
  }
  .icon-mob:before {
    content: "\e906";
  }
  .icon-play-icon:before {
    content: "\e907";
  }
  .icon-presentation:before {
    content: "\e908";
  }
  .icon-print:before {
    content: "\e909";
  }
  .icon-projector:before {
    content: "\e90a";
  }
  .icon-star:before {
    content: "\e90b";
  }
  .icon-tea:before {
    content: "\e90c";
  }
  .icon-twit:before {
    content: "\e90d";
  }
  .icon-vacuum-cleaner:before {
    content: "\e90e";
  }
  .icon-wifi:before {
    content: "\e90f";
  }
  