.menu {
    margin: 0 36.82% 0 40px;

    &__list {
    display: flex;
    flex-direction: row;
    }

    &__item {
        margin-right: 40px;

        &:last-child {
            margin-right: 0;
        }
    }

    &__link {
        text-decoration: none;
        color: #383838;
        white-space: nowrap;
        font-size: 18px;
        position: relative;
        transition: all .5s;
        display: inline-block;


        &::before {
            @include pos($l:0, $t:0);
            @include size(0%, 100%);

            content: '';
            background-color: $pink;
            transition: all .3s;
        }

        &:hover::before {
             @include size(100%);
             z-index: -1;
        }

        &:active::before {
            background-color: $bpink;
        }
    }

}