.advantages {
    &__title {
        text-align: center;
        margin-bottom: 75px;
    }

    &__wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 100px;
        // text-align: center;
    }

    &__img {

        &--right {

        }
    }

    &__box {
        border: 1px solid #F79595;
        margin: 0 30px;
        padding: 95px 135px 95px 110px;
    }
    &__subtitle {
        text-transform: uppercase;
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        margin-bottom: 25px;
    }

    &__text {
        font-size: 18px;
        line-height: 35px;
    }

}