.header {
    margin-bottom: 140px;

    &__block {
        background-color: #fff;
        @include size(100%, 80px);
        @include pos(fixed, $t:0, $z: 1111);
        box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.09);
    }

    &__nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 80px;
        justify-content: space-between;

        &-wrap {
            display: flex;
            align-items: center;

        }
    }
    

    &__link {
        text-decoration: none;
        white-space: nowrap;
        color: $black;
        font-weight: 500;
        font-size: 18px;
        position: relative;
        transition: all .6s;
        
        // &:hover {
        //     color: #fff;
        // }

        // &::after {
        //     @include size(100%, 3px);
        //     @include pos($b:0, $l:0px);
        //     content: '';
        //     background: $pink;
        //     transition: all .6s;
        //     z-index: -1;
        //     border-radius: 15px;
        // }

        // &:hover::after {
        //     @include size(100%, 105%);
        // }
        &::before {
            @include pos($l:0, $b:0);
            @include size(0%, 3px);

            content: '';
            background-color: $pink;
        transition: all .6s;
        }

        &:hover::before {
             @include size(100%, 3px);
             z-index: -1;
        }

        &:active::before {
            background-color: $bpink;
        }
    }

    &__wrap {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 35px;

    }
    
    &__title {
        margin-top: 160px;
        margin-bottom: 10px;
    }

    &__subtitle {
        margin-right: 35.43%;
    }

    &__btn {
        padding-left: 0;
        padding-right: 0;
    }

    &__img {
        max-width: none;
        width: 100%;
        user-select: none;
    }
}   